@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    Доступ запрещен
}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p class="lead">У вас недостаточно прав для доступа на эту страницу. Обратитесь к администратору!</p>   
</div>