@using Arsis.RekodWMS.Helpers
@helper FlashMessage(TempDataDictionary tempData)
{
    <div class="flash-messages">
        @foreach (FlashLevel level in (FlashLevel[]) Enum.GetValues(typeof(FlashLevel)))
        {
            string type = level.ToString().ToLower();
            string key = "flash-" + type;

            if (tempData.ContainsKey(key))
            {
                var messages = (IList<string>)tempData[key];
                <div class="alert @level.СssClass()">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    @foreach (var message in messages)
                    {
                        @Html.Raw(message)
                    }    
                </div>
            }
        }
    </div>
}
@FlashMessage(TempData)